/*Setting default fonts*/
* {
  font-family: Arial, Helvetica, sans-serif
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Top navigation bar style*/
.topnav {
    background-color: #333;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: Verdana;
    margin-bottom: auto;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    color: #b3b3b3;
  }

.main {
  margin-top: 60px;
  min-height: 100%;
  flex: 1 0 auto;
  align-items: stretch;
  padding: 20px;
}

#mainTitle{
  display: flex;
  font-size: 63px;
  justify-content: center;
  align-items: center;
}

#choices {
  margin-left: auto;
  margin-right: auto;
}

#buttonChoices{
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  outline:none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer style*/
.footer {
  padding: 20px;
  right: 0;
  left: 0;
  flex-shrink: 0;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  font-size: smaller;
  color: black;
  text-align: center;
}

.center-children{
  text-align: center;
}

.spaced-margin > div{
  margin: 10px;
}

#recommends{
  margin-left: auto;
  margin-right: auto;
}


#card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 350px;
}


#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width:600px) {
.vcenter {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center; 
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
}